<ng-template #createCardModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Card</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close button click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Enter text below to create a new card.</p>
    <form>
      <div class="form-group">
        <label for="categorySelect">Select Category:</label>
        <select class="form-control" id="categorySelect" [(ngModel)]="newCardCategory"  name="newCardCategory">
          <option *ngFor="let category of categories">{{category}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cardText">Card Text:</label>
        <textarea class="form-control" id="cardText" rows="3" [(ngModel)]="newCardText" name="newCardText" required></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save button click')">Save</button>
  </div>
</ng-template>

<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-light bg-info static-top">
  <div class="container">
    <a class="navbar-brand" href="/">{{title}}</a>
    <button (click)="openModal(createCardModal)" class="btn btn-success" type="button">
      New Card
    </button>
  </div>
</nav>
<app-card-list></app-card-list>
